{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Font Detector | Home </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" herf="{% static 'css/style.css' %}">
  </head>
  <body>
    <header class="head-section">
      <div class="navbar navbar-default navbar-static-top container">
          <div class="navbar-header">
              <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html">F<span>ont Detector</span></a>
          </div>
        </div>
    </header>
    <!--header end-->
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
